*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
    --lightpurple: #C5BDFF;
    --black: #000000;
    --abril: 'Abril Fatface', cursive;
    --lato:  'Lato', sans-serif;
    --purple: #9485FF;
    --darkgray: #6E6C78;
    --white: #FFFFFF;
    --lightgray: #f3f1f5;
}
::selection {
    color: var(--lightpurple);
    background: CornflowerBlue;
    background-color: var(--black);
}
.nav-scrolled {
    background: white;
}
section{
    padding: 4rem 4rem;
}

/* navbar */
nav .container-fluid .navbar-nav a{
    font-weight: 350;
	font-size: 22px;
	text-transform: capitalize;
	color: black;
}
nav .container-fluid .navbar-nav a:hover{
    color: var(--purple);
}
/* home */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    background-color: var(--lightgray);
}
#home .container h1{
    text-transform: capitalize;
	font-family: var(--abril);
	font-size: 55px;
	color: black;
}
#home .container h3{
    text-transform: capitalize;
	font-family: var(--lato);
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 10px;
}
#home .sosial-media a{
	text-decoration: none;
	color: black;
	padding-right: 25px;
}
#home .container .cursor{
    display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}
#home .container .cursor .typing {
	animation: none;
}
#home .container span{	
	color: var(--purple);
}
/* about */
.text-about h1{
	font-family: var(--abril);
	font-size: 50px;
	text-align: left;
    padding-top: 5rem;
}
.text-about span{
	color: var(--purple);
}
.text-about p {
	font-family: var(--poppins);
	font-size: 23px;
}
.text-about .intro{
    padding-top: 2rem;
}
.about-img img{
    width: 70vh;
}
/* skills */
#skills{
    background-color: var(--lightgray);
}
#skills .col .border{
	background-color: white;
	border-radius: 15px;
}
.title-skills h1{
	font-family: var(--abril);
	font-size: 50px;
	text-align: center;
}
.title-skills span{
	color: var(--purple);
}
#skills .container{
	margin-top: 30px;
}
#skills .container .row .col .border{
    margin: 1rem;
    display: flex;
}
#skills .container .row .col .border .text{
    padding-left: .5rem;
	padding-top: .5rem;
	font-family: var(--poppins);
}
/* project */
.title-project h1{
	font-family: var(--abril);
	font-size: 50px;
	padding-bottom: 3rem;
	text-align: center;
}
.title-project span{
	color: var(--purple);
}
/* contact */
#contact{
    background-color: var(--lightgray);
}
.contact-title h1{
	text-transform: capitalize;
	font-family: var(--abril);
	font-size: 50px;
	text-align: center;
}
.contact-title span{
	color: var(--purple);
}
#contact .contact{
	display: flex;
}
#contact form button{
	margin-top: 1rem;
	background-color: #9485FF;
}
/* Footer */
footer{
	background-color: var(--purple);
	font-size: 21px;
}
.footer a{
	text-decoration: none;
	font-family: var(--poppins);
}

/* media query */
@media (max-width:600px){
	section{
		padding: 1rem 2rem;
	}
	nav .container-fluid .navbar-nav a{
		font-weight: 150;
		font-size: 18px;
	}
	#home .container h1{
		font-size: 35px;
	}
	#home .container h3{
		font-size: 15px;
		font-weight: 200;
		padding-bottom: 10px;
	}
	#home .sosial-media a{
		padding-right: 7px;
	}
	.text-about h1{
		font-size: 35px;
		padding-top: .5rem;
	}
	.text-about p {
		font-size: 14px;
	}
	.title-skills h1{
		font-size: 35px;
	}
	#skills .container .row .col .border{
		margin: .5rem;
	}
	#skills .container{
		margin-top: 30px;
	}
	#skills .container .row .col .border img{
		width: 70px;
	}
	#skills .container .row .col .border .text h5{
		font-size: 14px;
	}
	#skills .container .row .col .border .text p{
		font-size: 15px;
	}
	.title-project h1{
		font-size: 35px;
	}
	.contact-title h1{
		font-size: 35px;
	}
	footer{
		font-size: 14px;
	}
}
